# Dependencies
**/node_modules/

# Build
**/dist/
**/dist-ssr/

# Environment files
**/.env
**/.env.*

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Scratch/reference files
reference